.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    /*overflow: hidden;*/
}


.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group-item-wrapper > .list-group > .list-group-item {
    padding-left: 40px;
}
.list-group.list-group-root .list-group-item-wrapper2 > .list-group-item {
    padding-left: 40px;
}
.list-group.list-group-root .list-group-item-wrapper2 > .list-group .list-group-item {
    padding-left: 60px;
}
.list-group.list-group-root .list-group-item-wrapper3 .list-group-item {
    padding-left: 70px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item > .glyphicon {
    margin-right: 5px;
}

.drag-handle {
    cursor: pointer;
}
.item-title {
    margin-left: 25px;
    margin-right: 35px;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.item {
    cursor: pointer;
}
.list-group-item-info:hover {
    background: #b6e4fb;
}
.dropdown-controls {
    margin-top: -2px;
}

/*the first method: Using 2 tags with predefined bootstrap icons*/

input[type='checkbox'].tags-checkbox:checked + label > i:first-of-type,
input[type='checkbox'].tags-checkbox + label > i:last-of-type{
    display: none;
}
input[type='checkbox'].tags-checkbox:checked + label > i:last-of-type{
    display: inline-block;
}

/*the second method - much cleaner look: Using 2 :pseudo classes from predefined bootstrap icons*/
input[type='checkbox'].pseudo-checkbox + label:before,
input[type='checkbox'].pseudo-checkbox + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    display: block;

    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 19px 24px 19px 9px;
    cursor: pointer;
}
input[type='checkbox'].pseudo-checkbox + label:before{/*unchecked icon*/
    content: "\e157";
}
input[type='checkbox']:checked.pseudo-checkbox + label:before{/*checked icon*/
    content: "\e067";
}

/* custom theme bug fix */
.input-sm {
    height: 32px !important;
    padding: 15px 10px !important;
}

#course .dropdown-menu:before{
    display: none !important;
}
#course .dropdown-menu:after {
    display: none !important;
}
#course .dropdown-menu {
    top: 110% !important;
}